<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".WeChatApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.WeChatAndroid"
        tools:targetApi="31">
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".ui.room.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.qr.QrScanActivity"
            android:exported="false"
            android:theme="@style/OnlyDarkActivity" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:exported="false" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="wechat.hayugo.edu.vn"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>